<div class="countainer">
  <div class="row m-3">
    <h3 class = >商品詳細</h3>
  </div>
  <div class="row">
    <div class="col-md-6">  <!--画像表示用-->
      <%= image_tag @item.image, class: "aspect-square w-full rounded-xl object-cover d-block mx-auto img-fluid w-50" %>
    </div>
    
    <div class="col-md-6 align-items-center">  <!--商品情報表示用-->
    
      <p class="text-3xl font-semibold tracking-tight text-gray-900 my-4">商品名  <%= @item.name %></p>
      <p class="text-3xl font-semibold tracking-tight text-gray-900 mb-4">商品説明  <%= @item.introduction %></p>
      <p class="text-3xl font-semibold tracking-tight text-gray-900 mb-4">ジャンル  <%= @item.genre.name %></p>
      <p class="text-3xl font-semibold tracking-tight text-gray-900 mb-4">税込価格(税抜価格)  <%= @item.tax_included_price %> (<%= @item.remove_tax_price.to_s(:dalimited) %>)円</p>
      <p class="text-3xl font-semibold tracking-tight text-gray-900 mb-4">販売ステータス  
        <% if @item.is_saled == true %>
          <%= "販売中" %>
        <% else %>
          <%=  "販売停止中" %>
        <% end %><p>
      <td><%= link_to "編集", edit_admin_item_path(@item), class: "btn btn-primary" %></td>
  
    </div>
  </div>
</div>
