<div id="mv">
  <img src="assets/mv_d_1.jpg" class="w-100">
</div>

<div>
    <h1>ようこそ NAGANO CAKE へ！</h1>
    <p>このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。<br>
    </p>
</div>

<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/search', genres: @genres %>
    </div>

      <div class='col-md-8 offset-md-1'>
        <h3>
          新着商品
        </h3>

        <div class='row'>
            <% @items.last(4).each do |item| %>
            <div class='col-md-3'>
              <%= link_to public_item_path(item.id) do %>
                <%= image_tag item.image, class: "w-100" %>
              <% end %>
              <p><%= item.name %></p>
              <span><%= number_to_currency(item.tax_included_price, unit: "¥", strip_insignificant_zeros: true) %></span>
            </div>
            <% end %>
            </div>
          <p><%= link_to "もっと見る", public_items_path %></p>
      </div>

    </div>
  </div>
</div>