<% flash.each do |type, message| %>
  <div class="alert alert-<%= type %>">
    <%= message %>
  </div>
<% end %>
<div class="text-center">
  <div class="row mt-4 ml-5">
    <div class="col-3">
      <%= image_tag 'ribon_1.png' %>
    </div>
    <div class="col-4">
      <h2>配送先登録/一覧</h2>
    </div>
    <div class="col-3">
      <%= image_tag 'ribon_1.png' %>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="col-md-12">
    <%= form_for(@address, url: public_addresses_path) do |f| %>
      <div class="form-group row mt-3">
        <%= f.label :address_postal_code, "郵便番号（ハイフンなし）", class: "col-3 col-form-label" %>
        <div class="col-3">
          <%= f.text_field :postal_code, placeholder: "0000000", class: "form-control", required: true %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :address, "住所", class: "col-3 col-form-label" %>
        <div class="col-6">
          <%= f.text_field :address, placeholder: "高知県", class: "form-control", required: true %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :address_name, "宛名", class: "col-3 col-form-label" %>
        <div class="col-3">
          <%= f.text_field :name, placeholder: "鳴瀬タカシ", class: "form-control", required: true %>
        </div>
        <div class="col-3 offset-3">
          <%= f.submit "新規登録", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row mt-5">
    <table class="table" style="border: 1px solid black;">
      <thead class="thead-light">
        <tr>
          <th style="border: 1px solid black;">郵便番号</th>
          <th style="border: 1px solid black; width: 40%;">住所</th>
          <th style="border: 1px solid black;">宛名</th>
          <th style="border: 1px solid black;"></th>
        </tr>
      </thead>
      <tbody>
        <% if @addresses.nil? %>
          <tr>
            <td colspan="4">
              <p>@addresses is nil</p>
            </td>
          </tr>
        <% else %>
        
        <td style="border: 1px solid black;"><%= current_customer.postal_code %></td>
        <td style="border: 1px solid black;"><%= current_customer.address %></td>
        <td style="border: 1px solid black;"><%= current_customer.family_name %><%= current_customer.last_name %></td>
        <td style="border: 1px solid black;"><%= link_to "編集する", edit_public_customer_path(current_customer.id), class: "btn btn-success text-center" %></td>
        
        
          <% @addresses.each do |address| %>
            <tr>
              <td style="border: 1px solid black;"><%= address.postal_code %></td>
              <td style="border: 1px solid black;"><%= address.address %></td>
              <td style="border: 1px solid black;"><%= address.name %></td>
              <td style="border: 1px solid black;">
                <%= link_to "編集する", edit_public_address_path(address), class: "btn btn-success text-center" %>
                <%= link_to "削除する", public_address_path(address), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-danger text-center" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>