<div class="container mt-5">
  <div class="col-md-12">
    <div class="mb-3 text-success font-weight-bolder">
      <h3>発送先登録画/一覧</h3>
    </div>
    <%= form_for(@address, url: public_addresses_path) do |f| %>
      <div class="mt-3">
        <%= f.label :address_postal_code, "郵便番号（ハイフンなし）", class: "col-3" %>
        <%= f.text_field :postal_code, placeholder: "0000000", class: "col-3" %>
      </div>
      <div>
        <%= f.label :address, "住所", class: "col-3" %>
        <%= f.text_field :address, placeholder: "高知県", class: "col-6" %>
      </div>
      <div>
        <%= f.label :address_name, "宛名", class: "col-3" %>
        <%= f.text_field :name, placeholder: "鳴瀬タカシ", class: "col-3" %>
      </div>
      <div>
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
    <% end %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">郵便番号</th>
          <th scope="col">住所</th>
          <th scope="col">宛名</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% if @addresses.nil? %>
          <p>@addresses is nil</p>
        <% else %>
          <% @addresses.each do |address| %>
            <tr>
              <td><%= address.postal_code %></td>
              <td><%= address.address %></td>
              <td><%= address.name %></td>
              <td>
                <%= link_to "編集する", edit_public_address_path(address), class: "btn btn-success text-center" %>
                <%= link_to "削除する", public_address_path(address), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger text-center" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
