<div class="container mt-5">
  <div class="col-md-12">
    <div class="mb-3 text-success font-weight-bolder">
      <h3>発送先登録画/一覧</h3>
    </div>
      <div class="mt-3">
        <%= f.label :address_postal_code, "郵便番号（ハイフンなし）",class: "col-3" %>
        <%= f.text_field :postal_code, class: "col-3" %>
      </div>
      <div>
        <%= f.label :address, "住所",class: "col-3" %>
        <%= f.text_field :address, class: "col-6" %>
      </div>
      <div>
        <%= f.label :address_name, "宛名",class: "col-3" %>
        <%= f.text_field :name, class: "col-3" %>
      </div>
      <div>
        <%= f.submit "新規登録", class: "btn btn-success text-center" %>
      </div>
      <% end %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">郵便番号</th>
            <th scope="col">住所</th>
            <th scope="col">宛名</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <%= @addresses.each do |address| %>
          <td>
            <tr><%= address.address_postal_code %></tr>
          </td>
          <td>
            <tr><%= address.address_postal_code %></tr>
          </td>
          <td>
            <tr><%= address.address_name %></tr>
          </td>
          <td>
            <tr><%= f.submit "編集する", class: "btn btn-success text-center" %>
                <%= f.submit "削除する", class: "btn btn-danger text-center" %>
            </tr>
          </td>
        </tbody>
      </table>
  </div>
</div>

