<div class='container'>
  <div class='row'>
    <div class="col-md-9 px-0 mx-auto">
      <div class='title_border text-center pt-1 pb-1 mt-5 mb-4'>
        <h3 class="mb-0">ショッピングカート</h3>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class="col-md-9 bg-white p-5 mx-auto rounded-lg">
        <div class="text-right">
            <%= link_to "カートを空にする", public_cart_items_destroy_all_path, method: :delete, class:"btn btn-danger" %>
        </div>
        <div class="d-flex justify-content-center m-3">
            <table border=3 >
                <tr>
                    <th>商品名</th>
                    <th>単価(税込)</th>
                    <th>数量</th>
                    <th>小計</th>
                    <th></th>
                </tr>
                <% @cart_items.each do |cart_item|%>
                <tr>
                    <td>
                        <%= image_tag cart_item.item.image, style: "width: 150px; height: 150px;" %>
                        <%= cart_item.item.name %>
                    </td>
                    <td><%= cart_item.item.tax_included_price %></td>
                    <td>
                         <%= form_with(url: public_cart_item_path(cart_item), method: :patch,local: true) do |f| %>
                             <%= f.hidden_field :item_id, value: cart_item.item.id %>
                             <%= f.number_field :amount ,value: cart_item.amount %>
                             <%= f.submit "変更", class:"btn btn-success" %>
                        <% end %>
                    </td>
                    <td>
                         <% if cart_item.item.tax_included_price.present? && cart_item.amount.present? %>
                            <%= cart_item.item.tax_included_price * cart_item.amount %>
                         <% else %>
                           0
                         <% end %>
                    </td>
                    <td>
                        <%= button_to "削除", public_path(cart_item.id), method: :delete, data: { confirm: "商品を削除しますか？" }, class:"btn btn-danger" %>
                    </td>
                </tr>
                <% end %>
          </table>
        </div>
        <div>
         <div class="text-center"><%= link_to "買い物を続ける", root_path, class:"btn btn-primary" %></div>
         <div class="d-flex justify-content-end">
            <table border=2 >
                <tr>
                    <td>合計金額</td>
                    <td><%= "#{@total}円" %></td>
                </tr>
            </table>
        </div>
        <div class="text-center">
          <% if @cart_items.present? %>
            <%= link_to "入力画面に進む", new_public_order_path, class:"btn btn-success" %>
          <% else %>
          <% end %>
        </div>
        </div>
    </div>
</div>