<h5>新規会員登録</h5>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
<div>
  <table>
    <tr>
      <td>名前</td>
      <td><%= f.label :"(姓)" %></td>
      <td><%= f.text_field :family_name, autofocus: true, autocomplete: "family_name" %></td>
      <td><%= f.label :"(名)" %></td>
      <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></td>
    </tr>
    <tr>
      <td>フリガナ</td>
      <td><%= f.label :"(セイ)" %></td>
      <td><%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana" %></td>
      <td><%= f.label :"(メイ)" %></td>
      <td><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td></td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
      <td>郵便番号(ハイフンなし)</td>
      <td></td>
      <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td></td>
      <td><%= f.text_field :address, :size=>"40", autofocus: true, autocomplete: "address" %></td>
    </tr>
    <tr>
      <td>電話番号(ハイフンなし)</td>
      <td></td>
      <td><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %></td>
    </tr>
    <tr>
      <td>パスワード(6文字以上)</td>
      <td></td>
      <td>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </td>
    </tr>
    <tr>
      <td>パスワード(確認用)</td>
      <td></td>
      <td>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><%= f.submit "新規登録" %></td>
    </tr>
  </table>
</div>
<% end %>

<h5>既に登録済みの方</h5>
<p>
  <%= link_to "こちら", new_customer_session_path %>
  からログインしてください。
</p>