<div class="container">
  <div class="row">
    <div class="col-12 m-3">
      

    <h3>支払情報入力</h3>
    
    <h5>支払方法</h5>
    
    <%= form_with model: @order, url: public_orders_confirm_path do |f| %>
      
      <p>
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
       <br>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
      </p>
      
    <% end %>
    </div>      
  </div>
</div>  
